
<div class="container">
  <ng-container *ngFor="let c of collection | filterByStatus: collection">
<div class="card">
    <div class="card-header">
      <h5 [appState]="c.state">{{c.state}}</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center"></h5>
      <p class="card-text text-center">
          {{c.name | capitalize:"c.name"}}<br/>
          {{c.reference}} <br/>
          {{c.deliveryDate | date:'medium'}} <br/>
  </p>
  <ng-container *ngFor="let s of state">
    <button class="btn" [ngClass]="{'btn-info': item.state === s, 'btn-secondary': item.state !== s}" (click)="changeState(s, item)">{{ s }}</button>
  </ng-container>
    </div>
  </div>
</ng-container>
</div>
