<div class="card">
    <div class="card-header">
    <h5 [appState]="item.state">{{item.state}}</h5>
    <!-- <h5 [class]="getStateColor(item.state)">{{item.state}}</h5> -->
    </div>
    <div class="card-body">
      <h5 class="card-title text-center"></h5>
      <p class="card-text text-center">
          {{item.name | capitalize:"item.name"}} <br/>
          {{item.reference}} <br/>
          {{item.deliveryDate | date:'medium'}} <br/>
  </p>
      <button (click)="changeState(state.ENCOURS, item)" *ngIf="state.ALIVRER === item.state" class="btn-sm btn-primary">{{ state.ENCOURS }}</button>
      <button (click)="changeState(state.LIVREE, item)" *ngIf="state.ENCOURS === item.state" class="btn-sm btn-primary">{{ state.LIVREE }}</button>

</div>
  </div>
