<div class="card">
    <div class="card-header">
    <h5 [appState]="item.state">{{item.state}}</h5>
    <!-- <h5 [class]="getStateColor(item.state)">{{item.state}}</h5> -->
    </div>
    <div class="card-body">
      <h5 class="card-title text-center"></h5>
      <p class="card-text text-center">
          {{item.name | capitalize:"item.name"}} <br/>
          {{item.reference}} <br/>
          {{item.deliveryDate | date:'medium'}} <br/>
  </p>
      <ng-container *ngFor="let s of state">
        <button class="btn" [ngClass]="{'btn-info': item.state === s, 'btn-secondary': item.state !== s}" (click)="changeState(s, item)">{{ s }}</button>
      </ng-container>
</div>
  </div>
