.card {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}


.state-alivrer {
  color: rgb(255, 24, 24)
}

.state-livree {
  color: rgba(39, 240, 89, 0.733)
}

.state-encours {
  color: rgba(47, 24, 255, 0.904)
}

body .navbar-light .navbar-nav .nav-link.active  {
  color: rgba(47, 24, 255, 0.904)
}

