.card {
  margin-top: 1rem;
}

.state-alivrer {
  color: rgb(255, 0, 0);
}
.state-encours {
  color: rgb(50, 9, 231);
}
.state-livree {
  color: rgb(40, 143, 14);
}

body .navbar-light .navbar-nav .nav-link.active {
  color: rgb(255, 0, 0);
}

.optionTitle {
  background-color: grey;
  font-weight: bold;
}



