<form novalidate #form="ngForm" (ngSubmit)="process();"> <!-- enleve les validation de base de bootstrap -->
  <div class="form-group">
    <input name="name" type="text" #nom="ngModel" class="form-control" aria-describedby="emailHelp" placeholder="nom" [(ngModel)]="item.name" required minlength="5">
  </div>
  <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched && nom.dirty">Champ invalide</div>
  <div class="form-group">
    <input name="reference" type="text" class="form-control" placeholder="reference"  [(ngModel)]="item.reference" required minlength="5" >
  </div>
  <div class="form-group">
    <input name="deliveryDate" type="date" class="form-control"  [(ngModel)]="item.deliveryDate" required>
  </div>
  <div class="form-group">
      <select class="custom-select mr-sm-2"  name="state" [(ngModel)]="item.state" required>
          <option class="optionTitle" value="Status">Status</option>
          <option *ngFor="let s of state" [ngValue]="s">{{s}}</option>
        </select>
  </div>
  <button [disabled]="form.invalid || item.state === 'Status'" type="submit" class="btn btn-secondary">Soumettre</button>
</form>

