<div class="card">
  <div class="card-header">
    <span [appState]="item.state">{{ item.state }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.name  }}</h5>
    <p class="card-text">{{ item.reference }}</p>
    <p class="card-text">{{ item.deliveryDate | date:'fullDate' | capitalize }}</p>
    <ng-container *ngFor="let state of states">
      <button class="btn" [ngClass]="{'btn-warning': item.state === state, 'btn-secondary': item.state !== state}" (click)="changeState(state)" style="margin-right: 3px">{{ state }}</button>
    </ng-container>
  </div>
</div>
